<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Escrever por Extenso</title>
  <link rel="stylesheet" type="text/css" href="bower_components/semantic/dist/semantic.min.css">
</head>
<body>
  <div class="ui center aligned container" ng-controller="HomeController">
    <h1>Escrever por Extenso</h1>
    <div class="ui action left icon input">
      <i class="write icon"></i>
      <input placeholder="Número..." type="number" ng-model="numero">
      <button class="ui primary button" ng-click="escreverPorExtenso()">Escrever</button>
    </div>
    <p>{{ numeroPorExtenso }}</p>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="scripts/app.js"></script>
</body>
</html>